@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Desarrollo de un sistema de gestión de Tareas para Equipos de Desarrollo de Software</p>
    <p>David Alejandro Navarrete Cadena</p>
    <p>UTN - CSOFT</p>
</div>
