@model IEnumerable<Usuario>
<h2>Usuarios Registrados</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.NombreCompleto</td>
                <td>@u.Correo</td>
                <td>@u.Rol</td>
            </tr>
        }
    </tbody>
</table>
